.pipeValueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #202020;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;

    .deviceNameContainer {
        font-size: 0.8rem;
        color: #f5debf;
    }

    .valueNameContainer {
        font-size: 1rem;
        color: white;
    }

    .valueTypeContainer {
        color: #ff8e0c;
        font-weight: bold;
        font-size: 0.7rem;
    }
}

.selected {
    border: 1px solid limegreen;
    box-shadow: 0 0 5px green;
}

.notSelected {
    border: 1px solid #00fff7;
    box-shadow: 0 1px 3px black;
}