.gateValueContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem 1rem;

    .nameContainer {
        font-size: 0.85rem;
        padding: 0.2rem;
        color: var(--gatevalue-name-color);
        text-align: center;
        cursor: default;
    }

    .gateValue {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
}

.active {
    --gatevalue-name-color: #f5debf;
}

.inactive {
    --gatevalue-name-color: #cecece;
}

