.gateValue {
    border: 1px solid var(--gatevalue-color-border);
    border-radius: var(--component-border-radius);
    margin: 0.6rem 0.2rem 0.2rem 0.2rem;

    .nameContainer {
        position: relative;
        background-color: var(--component-color-background);
        top: -0.6rem;
        margin: 0.5rem;
        padding: 0.2rem;
        color: var(--gatevalue-color-border);
    }
}