.gateValueContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;

    .nameContainer {
        font-size: 0.85rem;
        padding: 0.2rem;
    }

    .gateValue {
        border-radius: var(--component-border-radius);
        padding: 0.5rem;
    }

    .active {
        border: 1px solid var(--gatevalue-color-border);
    }

    .inactive {
        border: 1px solid var(--gatevalue-color-border-inactive);
    }
}