.displayContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 100vw;
}

.leftHeader {
    position: fixed;
    z-index: 100;
}

.rightHeader {
    position: fixed;
    z-index: 100;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.headerButton {
    margin: 0.5rem;
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.content {
    padding-top: 4rem;
}

.remoteOff {
    --header-button-highlight: black;
}

.remoteInit {
    --header-button-highlight: yellow;
}

.remoteOn {
    --header-button-highlight: cyan;
}

.remoteRegistered {
    --header-button-highlight: #50ff00;
}

.remoteError {
    --header-button-highlight: red;
}