.deviceContainer {
    --device-border-radius: 0.3rem;
    --device-color-border: #2c2c2c;
    --device-gradient-header: linear-gradient(var(--device-color-border), #646464 40% 60%, var(--device-color-border));
    --device-border-style: 1px solid var(--device-color-border);
    --device-color-background: #202020;

    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-left: var(--device-border-style);
    border-right: var(--device-border-style);
    border-bottom: var(--device-border-style);
    border-radius: var(--device-border-radius);

    .valuesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: var(--device-color-background);
        border-radius: 0 0 var(--device-border-radius) var(--device-border-radius);
    }
}

.active {
    box-shadow: 0 0 0.2rem #7ac07a;
}

.inactive {
    box-shadow: 0 0 0.2rem black;
}