.credentialsModalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 80vw;

    .credentialsInput {
        font-size: 0.9rem;
        height: 2.5rem;
        width: 20rem;
        background-color: transparent;
        font-family: inherit;
        text-align: center;
        border-radius: 0.3rem;
        padding: 0.2rem;
        margin-top: 1rem;
        max-width: 90%;
        color: white;
        resize: none;

        @media only screen and (max-device-width: 480px) and (orientation: portrait) {
            height: 4.2rem;
        }
    }

    .credentialsInput:focus {
        outline: none;
    }

    .borderNormal {
        border: 1px solid #f5debf;
    }

    .borderError {
        border: 1px solid #ff0000;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 1rem;
    }
}