.deviceHeader {
    display: flex;
    align-items: center;
    background-image: var(--component-gradient-header);
    padding: 0.2rem 2rem;
    border-radius: var(--component-border-radius);
    text-shadow: 1px 1px #333, -1px -1px #151515;
    font-weight: bold;
}