.valuesContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .header {
        @media only screen and (max-device-width: 480px) and (orientation: portrait) {
            min-height: 2rem;
        }
    }

    .valueRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1rem;
        padding: 0.3rem 0;
        align-items: center;

        .label {
            flex-shrink: 10;
            word-break: break-word;
            min-width: 0;
            text-align: left;
        }

        .optionLabel {
            @media only screen and (max-device-width: 480px) and (orientation: portrait) {
                transform: rotate(-90deg);
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 10rem;
            min-width: 10rem;
            color: white;
            font-size: 0.8rem;
            margin-left: 0.5rem;

            @media only screen and (max-device-width: 480px) and (orientation: portrait) {
                width: 7rem;
                min-width: 7rem;
            }

            .groupInput {
                width: 1.3rem;
                height: 1.3rem;
                margin: 0;
            }
        }
    }
}
