.globalStyles {
    --global-color-error: red;
    --global-color-background: #303030;
    --global-color-component-border: #30b0ff;
    --global-color-text: white;

    .inputError {
        border: 2px solid var(--global-color-error);
    }
}

.brightTheme {
    --global-color-background: white;
    --global-color-component-border: #0030b0;
    --global-color-text: black;
}