.valueDisplayContainer {
    margin: 0 auto;
}

.valueDisplay {
    --value-display-font-size: 1.2rem;

    display: flex;
    justify-content: center;
    font-size: var(--value-display-font-size);
    background-color: var(--device-color-background);
    font-family: inherit;
    color: inherit;
    text-align: center;
    border-radius: var(--device-border-radius);
}

.editable {
    border: 1px solid var(--gatevalue-name-color);
    margin-top: 2px;
}

.readonly {
    border: none;
}

.readonly.unlimited.active {
    background-color: rgb(37, 50, 37);
}

.readonly.unlimited.inactive {
    background-color: rgb(53, 53, 53);
}

.readonly.limited {
    padding-top: 0.25rem;
    margin-bottom: 0.05rem;
}
