.cardsComponent {
    display: flex;
    color: white;
    padding: 0 0 0.3rem 0;
    border-radius: 0 0 0.5rem 0;
    background-image: linear-gradient(#505050 75%, #262626);
    box-shadow: 1px 1px 3px black;

    .card {
        text-align: center;
        width: 5rem;
        padding: 0.2rem 0;
        text-shadow: 1px 1px #808080, -1px -1px #151515;
    }

    .withBorder {
        border: solid;
        border-width: 0 2px 0 0;
        border-image: linear-gradient(#8f8f8f 60%, transparent) 1;
    }

    .cardActive {
        color: #f5debf;
        cursor: default;
    }

    .cardInactive {
        color: white;
        cursor: pointer;
    }
}