.bottomMargin {
    padding-top: 1px;
    margin-bottom: 0.3rem;
}

.valueBarContainer {
    width: 100%;
    padding-bottom: 0.1rem;
    --bar-size: 0.5rem;
    --slider-size: calc(var(--bar-size) * 2);
    --margin-offset: calc(var(--bar-size) * 0.4);

    .bar {
        --value-bar-color-enabled: green;
        --value-bar-color-disabled: #606060;

        width: 100%;
        height: var(--bar-size);
        border-radius: calc(var(--bar-size) / 2);
    }

    .barEnabled {
        box-shadow: 0 1px #937952, 0 -1px #d7ccbb;
    }

    .barDisabled {
        box-shadow: 0 1px #606060, 0 -1px #919191;
    }

    .slider {
        position: relative;
        background-image: radial-gradient(var(--slider-color) 25%, #000000);
        top: calc(var(--margin-offset) - (var(--bar-size)/2));
        width: var(--slider-size);
        height: var(--slider-size);
        border-radius: calc(var(--slider-size) / 2);
        margin: calc(0px - var(--margin-offset) - var(--slider-size) / 2) 0 0 calc(var(--slider-size) / -2);
    }

    .sliderEnabled {
        --slider-color: #b9a387;
        cursor: pointer;
    }

    .sliderDisabled {
        --slider-color: #919191;
    }
}