.menuButton {
    position: relative;
    cursor: pointer;
    padding: 0 0.3rem;
}

.iconClass {
    filter:drop-shadow(1px 1px #000000);
}

.iconClass:hover {
    filter:drop-shadow(0 0 2px #2ef621);
}

.dropdownMenuContainer {
    width: 0;
    height: 0;
}

.dropdownMenu {
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #544e4e;
    min-width: 5rem;
    padding: 0 0.3rem;
    justify-content: stretch;
    right: 0.5rem;
    border: 1px solid black;
    outline-style: none;
    outline-color: transparent;

    .menuItem {
        padding: 0.4rem 0.3rem;
        cursor: pointer;
    }

    .menuItem:hover {
        font-weight: bold;
    }

    .separator {
        border-top: 1px solid black;
    }
}