.modal {
    z-index: 100;
    background-color: transparent;
    border: none;
    outline-color: transparent;
    outline-style: none;
    overflow: visible;
}

.childrenContainer {
    padding: 2rem;
    border: 1px solid #f5debf;
    border-radius: 0.5rem;
    max-width: 90vw;
    background-color: rgba(2, 45, 2, 0.43);
    backdrop-filter: blur(2px);
}

.modal::backdrop {
    background: hsl(0 0% 0% / 50%);
}