.gateBooleanContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ---boolean-display-size: 1.3rem;
    --display-color-true: #0ee50e;
    --display-color-false: #0c600c;

    .readonlyDisplay {
        width: var(---boolean-display-size);
        height: var(---boolean-display-size);
        border-radius: calc(var(---boolean-display-size)/2);
        background-color: var(--readonly-display-color);
    }

    .valueTrue {
        --readonly-display-color: var(--display-color-true);
        box-shadow: 0 0 5px var(--display-color-true);
    }

    .valueFalse {
        --readonly-display-color: var(--display-color-false);
    }

    .valueInactive {
        --readonly-display-color: #7c7c7c;
    }

    .labelContainer {
        height: 1rem;
        padding-top: 0.3rem;
        text-align: center;
        cursor: default;
    }

    .editableDisplay {
        display: flex;
        width: calc(var(---boolean-display-size)*1.7);
        height: var(---boolean-display-size);
        border-radius: calc(var(---boolean-display-size)/2);
        border: 1px solid var(--gatevalue-name-color);

        .editableDisplaySlider {
            --slider-margin: 2px;
            --slider-size: calc(var(---boolean-display-size) - 2*var(--slider-margin));
            width: var(--slider-size);
            height: var(--slider-size);
            border-radius: calc(var(--slider-size)/2);
            background-color: var(--readonly-display-color);
            margin: var(--slider-margin);
        }
    }

    .editableValueTrue {
        justify-content: flex-end;
    }

    .editableValueFalse {
        justify-content: flex-start;
    }
}

.editableActive {
    .editableDisplay, .editableDisplaySlider {
        cursor: pointer;
    }
}
