.ipField {
    font-size: 1.5rem;
    max-width: 5rem;
    margin: 0.5rem;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

.inputError {
    border: 2px solid var(--global-color-error);
}