.devicesGroup {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 1rem 0.5rem;

    .headerContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.3rem 0 0.1rem;
        margin: 0.5rem 1rem;

        .name {
            color: #f5debf;
            text-shadow: 1px 1px #000000, -1px -1px #707070;
        }

        .iconContainer {
            display: flex;
        }
    }

    .headerOpen {
        border-bottom: 1px solid #727272;
    }

    .devicesContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;

        @media only screen and (max-device-width: 480px) and (orientation: portrait) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    }
}

.groupDefined {
    box-shadow: 0 0 3px #ffffff;
    border-radius: 0.5rem;
    background-color: #2e3839;
}
