.stringViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

    .valueDisplay {
        font-size: inherit;
        background-color: var(--device-color-background);
        font-family: inherit;
        color: inherit;
        text-align: center;
        word-break: break-word;
    }

    .editable {
        border: 1px solid var(--gatevalue-name-color);
        border-radius: var(--device-border-radius);
        padding: 0.2rem;
    }

    .readonly {
        cursor: default;
        border: none;
        border-radius: 0.3rem;
        min-height: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .active {
        background-color: rgb(37, 50, 37);
    }

    .inactive {
        background-color: rgb(53, 53, 53);
    }

    .bottomContainer {
        padding-top: 0.3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .iconContainer {
            padding: 0.2rem;
            cursor: pointer;
        }

        .iconActive {
            color: #2ef621;
        }

        .iconContainer :hover {
            filter:drop-shadow(0 0 2px #2ef621);
        }

        .clearContainer {
            padding: 0.15rem 0 0 0.7rem;
            cursor: pointer;
        }

        .clearContainer :hover {
            filter:drop-shadow(0 0 2px #ff0000);
        }

        .controlsContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .inputContainer {
            display: flex;
            flex-direction: row;
            align-items: center;

            .input {
                width: 3rem;
                background-color: black;
                border: 1px solid var(--gatevalue-name-color);
                border-radius: 0.3rem;
                color: white;
                text-align: center;
                margin-left: 0.5rem;
            }
        }
    }

    .bufferArea {
        font-family: sans-serif;
        font-size: 0.8rem;
        margin-top: 0.3rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: min(80vw, 20rem);
        height: 10rem;
        background-color: rgb(33, 43, 33);
        overflow-y: auto;
        overflow-x: hidden;

        .entry {
            padding: 0.2rem 0.5rem;
            flex-wrap: wrap;
            max-width: 100%;
            overflow-wrap: break-word;
        }
    }
}
