.numberOutputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    .range {
        cursor: default;
        display: flex;
        font-size: 0.7rem;
        width: 25%;
        color: var(--gatevalue-name-color);
    }
    .right {
        justify-content: flex-end;
    }

    .valueContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
