.numberOutputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    .range {
        display: flex;
        font-size: 0.7rem;
        width: 25%;
        color: var(--gatevalue-name-color);
    }
    .right {
        justify-content: flex-end;
    }

    .valueContainer {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    .value {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
    }
    .limited {
        width: 50%;
    }
    .unlimited {
        width: 100%;
    }
}
