.chartContainer {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    @media only screen and (max-device-width: 480px) and (orientation: portrait) {
        width: 80vw;
    }

    .chartSettings {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .inputContainer {
            display: flex;
            flex-direction: column;
            align-items: center;

            .label {
                color: var(--gatevalue-name-color);
            }

            .input {
                width: 4rem;
                background-color: black;
                border: 1px solid var(--gatevalue-name-color);
                border-radius: 0.3rem;
                color: white;
                text-align: center;
            }
        }
    }
}