.groupModalBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 80vw;

    .blockContainer {
        flex-grow: 10;
        display: flex;
        flex-direction: column;
        text-align: left;
        font-size: 1.2rem;
        padding: 1rem 0.5rem;
    }

    .existingGroupsContainer {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 10;
        padding: 0.5rem 0 0 1rem;

        .existingGroupInputContainer {
            color: white;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.2rem 0;

            .groupLabel {
                flex-shrink: 10;
                padding-right: 1rem;
            }

            .groupInput {
                width: 1.3rem;
                height: 1.3rem;
                margin: 0;
            }
        }
    }

    .newNameInput {
        font-size: 1.5rem;
        background-color: transparent;
        font-family: inherit;
        text-align: center;
        border: 1px solid #f5debf;
        border-radius: 0.3rem;
        padding: 0.2rem;
        margin-top: 0.3rem;
        color: white;
    }

    .newNameInput:focus {
        outline: none;
    }
}