.mainContainer {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    color: white;
    font-size: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    @media only screen and (max-device-width: 480px) and (orientation: portrait) {
        flex-direction: column-reverse;
    }

    .leftPanel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;
        width: 30%;
        max-width: 20rem;

        @media only screen and (max-device-width: 480px) and (orientation: portrait) {
            flex-direction: row;
            height: 40%;
            width: auto;
            max-width: none;
        }
    }

    .cameraPanel {
        flex-grow: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background-color: #303030;
    }

    .fullSize {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .buttonPanel {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .button {
            margin: 0 0 0.5rem 0.5rem;
            font-size: 1.3rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            border-radius: 0.5rem;
            border: 1px solid #9d6e47;
            cursor: pointer;
            box-shadow: -1px -1px #e0d3c9, 1px 1px #603b0e;
            background-color: #363535;
        }

        .button:hover {
            background-color: #4d4d4d;
        }

        .buttonActive {
            filter: drop-shadow(0 0 3px #2bff00);
        }
    }
}