.numberOutputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding-top: 0.1rem;
    min-width: 100%;

    .range {
        cursor: default;
        display: flex;
        font-size: 0.7rem;
        width: 25%;
        color: var(--gatevalue-name-color);
    }

    .right {
        justify-content: flex-end;
    }

    .valueContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .chartIconContainer {
        width: 100%;
        display: flex;

        .chartIcon {
            cursor: pointer;
        }
    
        .chartIcon :hover {
            filter:drop-shadow(0 0 2px #2ef621);
        }
    
        .chartIconActive {
            color: #2ef621;
        }
    
        .chartIconLeft {
            margin-top: -0.92rem;
        }
    
        .chartIconCenter {
            margin-top: 0.3rem;
        }
    }

    .center {
        justify-content: center;
    }
}
