.pipesDashboard {
    display: flex;

    @media only screen and (max-device-width: 640px) and (orientation: portrait){
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .controlButtonContainer {
        display: flex;
        flex-direction: column;

        @media only screen and (max-device-width: 640px) and (orientation: portrait){
            flex-direction: row;
        }
    }

    .controlButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 0 3px black;
        color: #f5debf;
        background-color: #313131;
        margin: 0.5rem 1rem;
        cursor: pointer;

        .addIcon {
            font-size: 2rem;
            filter:drop-shadow(1px 1px #808080);
        }
    }

    .controlButton:hover {
        background-color: #444444;
    }
}
