.standardModalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    color: #f5debf;

    .headerContainer {
        padding-bottom: 0.5rem;
    }

    .childrenContainer {
        max-height: 60vh;
        overflow: auto;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 2rem;
    }

    .button {
        font-family: inherit;
        font-size: 1.5rem;
        width: 6rem;
        margin: 0 1rem;
    }
}